In [1]:
#import usesul libraries
import numpy as np
import pandas as pd
import ast

In [4]:
#load movies and credits csvs
movies = pd.read_csv('data/tmdb_5000_movies.csv')
credit = pd.read_csv('data/tmdb_5000_credits.csv')

In [3]:
movies.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124

In [83]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4803 non-null   int64
 1   genres                4803 non-null   object
 2   homepage              1712 non-null   object
 3   id                    4803 non-null   int64
 4   keywords              4803 non-null   object
 5   original_language     4803 non-null   object
 6   original_title        4803 non-null   object
 7   overview              4800 non-null   object
 8   popularity            4803 non-null   float64
 9   production_companies  4803 non-null   object
 10  production_countries  4803 non-null   object
 11  release_date          4802 non-null   object
 12  revenue               4803 non-null   int64
 13  runtime               4801 non-null   float64
 14  spoken_languages      4803 non-null   object
 15  status                4803 non-null   object
 16  tagline               3959 non-null   object
 17  title                 4803 non-null   object
 18  vote_average          4803 non-null   float64
 19  vote_count            4803 non-null   int64
dtypes: float64(3), int64(4), object(13)
memory usage: 750.6+ KB

In [84]:
credit.head()

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [85]:
credit.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   movie_id  4803 non-null   int64
 1   title     4803 non-null   object
 2   cast      4803 non-null   object
 3   crew      4803 non-null   object
dtypes: int64(1), object(3)
memory usage: 150.2+ KB

we will first merge these two dataframes based on their ids and title

In [5]:
credit.rename(columns={'movie_id' : 'id'}, inplace=True)
df = pd.merge(movies, credit, on=['id', 'title'])

In [6]:
print('movies df shape', movies.shape)
print('credits df shape', credit.shape)
print('merged df shape', df.shape)

movies df shape (4803, 20)
credits df shape (4803, 4)
merged df shape (4803, 22)

as we merged these dataframes on two columns, total number of resulting columns are 22

In [91]:
df.columns

Index(['budget', 'genres', 'homepage', 'id', 'keywords', 'original_language',
       'original_title', 'overview', 'popularity', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'vote_average',
       'vote_count', 'cast', 'crew'],
      dtype='object')

We will make a recommdender system based on contents. The relavent columns to fetch the contents are 'genres', 'keywords', 'overview', 'title', 'cast' and 'crew'. Addtinaly we keep 'id' column that will help us to featch movies poster for dashboard. We will delete other columns from the dataframe.

In [7]:
df = df[['genres', 'keywords', 'overview', 'title', 'cast', 'crew', 'id']]

In [93]:
df.head()

,genres,keywords,overview,title,cast,crew,id
0,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","In the 22nd century, a paraplegic Marine is di...",Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de...",19995
1,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","Captain Barbossa, long believed to be dead, ha...",Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de...",285
2,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",A cryptic message from Bond’s past sends him o...,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de...",206647
3,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",Following the death of District Attorney Harve...,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de...",49026
4,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","John Carter is a war-weary, former military ca...",John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de...",49529

In [8]:
#check null values
df.isnull().sum().sort_values(ascending=False)

overview    3
genres      0
keywords    0
title       0
cast        0
crew        0
id          0
dtype: int64

There are 3 null values on overview column so we will delete these three rows.

In [39]:
df.dropna(inplace=True)

If we look into 'genres' and 'keywords' columns, we will find that these columns consist of lists of dictonaries.

In [9]:
df['genres'][0]

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

In [11]:
df['keywords'][0]

'[{"id": 1463, "name": "culture clash"}, {"id": 2964, "name": "future"}, {"id": 3386, "name": "space war"}, {"id": 3388, "name": "space colony"}, {"id": 3679, "name": "society"}, {"id": 3801, "name": "space travel"}, {"id": 9685, "name": "futuristic"}, {"id": 9840, "name": "romance"}, {"id": 9882, "name": "space"}, {"id": 9951, "name": "alien"}, {"id": 10148, "name": "tribe"}, {"id": 10158, "name": "alien planet"}, {"id": 10987, "name": "cgi"}, {"id": 11399, "name": "marine"}, {"id": 13065, "name": "soldier"}, {"id": 14643, "name": "battle"}, {"id": 14720, "name": "love affair"}, {"id": 165431, "name": "anti war"}, {"id": 193554, "name": "power relations"}, {"id": 206690, "name": "mind and soul"}, {"id": 209714, "name": "3d"}]'

From these set of dictonaries we will fetch values corresponds to  keys 'name'.

In [12]:
#function to fetch values from keys 'name'
def fetch_name(x):
    name_list=[]
    for keyword in  ast.literal_eval(x):
        name_list.append(keyword['name'])
    return name_list

In [13]:
df['genres'] = df['genres'].apply(fetch_name)
df['keywords'] = df['keywords'].apply(fetch_name)

In [14]:
df['genres'][0]

['Action', 'Adventure', 'Fantasy', 'Science Fiction']

In [17]:
df['keywords'][0]

['culture clash',
 'future',
 'space war',
 'space colony',
 'society',
 'space travel',
 'futuristic',
 'romance',
 'space',
 'alien',
 'tribe',
 'alien planet',
 'cgi',
 'marine',
 'soldier',
 'battle',
 'love affair',
 'anti war',
 'power relations',
 'mind and soul',
 '3d']

As next we will fetch top 3 actors from column 'cast' and director name from column 'crew'.

In [18]:
#function to fetch top3 actors 
def fetch_top3actor(x):
    actors = []
    i=0
    for dict in  ast.literal_eval(x):
        i+=1
        actors.append(dict['name'])
        if i==3:
            break
    return actors

In [20]:
df['cast'] = df['cast'].apply(fetch_top3actor)

In [22]:
df['cast'].head()

0    [Sam Worthington, Zoe Saldana, Sigourney Weaver]
1       [Johnny Depp, Orlando Bloom, Keira Knightley]
2        [Daniel Craig, Christoph Waltz, Léa Seydoux]
3        [Christian Bale, Michael Caine, Gary Oldman]
4      [Taylor Kitsch, Lynn Collins, Samantha Morton]
Name: cast, dtype: object

In [23]:
#function to fetch director name
def fetch_director(x):
    director=[]
    for dict in  ast.literal_eval(x):
        if dict['job'] == 'Director':
            director.append(dict['name'])
            break
    return director

In [24]:
df['crew']  = df['crew'].apply(fetch_director)
df['crew'].head()

0        [James Cameron]
1       [Gore Verbinski]
2           [Sam Mendes]
3    [Christopher Nolan]
4       [Andrew Stanton]
Name: crew, dtype: object

In [27]:
df.head(2)

,genres,keywords,overview,title,cast,crew,id
0,"[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","In the 22nd century, a paraplegic Marine is di...",Avatar,"[Sam Worthington, Zoe Saldana, Sigourney Weaver]",[James Cameron],19995
1,"[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","Captain Barbossa, long believed to be dead, ha...",Pirates of the Caribbean: At World's End,"[Johnny Depp, Orlando Bloom, Keira Knightley]",[Gore Verbinski],285

In [34]:
#convert 'overview' column to list
df['overview'] = df['overview'].apply(lambda x : x.split())

Since lower cases are recommended to create recommended system, we convert all words (except in Title and ID) to lowercase.

In [36]:
def convert_lower(x):
    x = [a.lower() for a in x]
    return x

In [40]:
for col in df.drop(['title', 'id'], axis=1).columns:
    df[col] = df[col].apply(convert_lower)

In [41]:
df.head(2)

,genres,keywords,overview,title,cast,crew,id
0,"[action, adventure, fantasy, science fiction]","[culture clash, future, space war, space colon...","[in, the, 22nd, century,, a, paraplegic, marin...",Avatar,"[sam worthington, zoe saldana, sigourney weaver]",[james cameron],19995
1,"[adventure, fantasy, action]","[ocean, drug abuse, exotic island, east india ...","[captain, barbossa,, long, believed, to, be, d...",Pirates of the Caribbean: At World's End,"[johnny depp, orlando bloom, keira knightley]",[gore verbinski],285

Since the recommonder system make the recommondations based on similarities between words, we will merge the name and surname of the actors and directors to a single word ('sam worthington' into 'samworthington'). The same will be done for words with a space between them, for example words like 'space war', 'drug abuse' etc  will be converted into a single word 'spacewar', 'drugabuse' etc.

In [42]:
for col in df.drop(['title', 'id'], axis=1).columns:
    df[col] = df[col].apply(lambda x : [i.replace(" ", "") for i in x])

In [43]:
df.head(2)

,genres,keywords,overview,title,cast,crew,id
0,"[action, adventure, fantasy, sciencefiction]","[cultureclash, future, spacewar, spacecolony, ...","[in, the, 22nd, century,, a, paraplegic, marin...",Avatar,"[samworthington, zoesaldana, sigourneyweaver]",[jamescameron],19995
1,"[adventure, fantasy, action]","[ocean, drugabuse, exoticisland, eastindiatrad...","[captain, barbossa,, long, believed, to, be, d...",Pirates of the Caribbean: At World's End,"[johnnydepp, orlandobloom, keiraknightley]",[goreverbinski],285

Next we merged all content based columns into a single column.

In [45]:
df['tags'] = df['overview'] +df['genres'] + df['keywords'] +  df['cast'] + df['crew']

In [46]:
df.drop(['genres','keywords','overview','cast','crew'], axis=1, inplace=True)

In [47]:
df.head(2)

,title,id,tags
0,Avatar,19995,"[in, the, 22nd, century,, a, paraplegic, marin..."
1,Pirates of the Caribbean: At World's End,285,"[captain, barbossa,, long, believed, to, be, d..."

We convert tags column from list to string.

In [49]:
df['tags'] = df['tags'].apply(lambda x : ' '.join(x))

In [50]:
df.head(2)

,title,id,tags
0,Avatar,19995,"in the 22nd century, a paraplegic marine is di..."
1,Pirates of the Caribbean: At World's End,285,"captain barbossa, long believed to be dead, ha..."

We will use PorterStemmer library from nltk to remove the commoner morphological and inflexional endings from words in English i.e. 'loved', 'loving' and 'lover' like words will be converted to 'love'.

In [52]:
!pip install nltk

Collecting nltk
  Downloading nltk-3.6.6-py3-none-any.whl (1.5 MB)
     |████████████████████████████████| 1.5 MB 1.9 MB/s
Requirement already satisfied: click in /home/raviunix/neuefische/project_after_bootcamp/EDA/.venv/lib/python3.8/site-packages (from nltk) (7.1.2)
Collecting regex>=2021.8.3
  Using cached regex-2021.11.10-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (764 kB)
Collecting tqdm
  Using cached tqdm-4.62.3-py2.py3-none-any.whl (76 kB)
Requirement already satisfied: joblib in /home/raviunix/neuefische/project_after_bootcamp/EDA/.venv/lib/python3.8/site-packages (from nltk) (1.1.0)
Installing collected packages: tqdm, regex, nltk
Successfully installed nltk-3.6.6 regex-2021.11.10 tqdm-4.62.3

In [53]:
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

In [54]:
def stem(x):
    stem_word=[]
    for i in x.split():
        stem_word.append(ps.stem(i))
    return stem_word

In [56]:
df['tags'] = df['tags'].apply(stem)
df['tags'] = df['tags'].apply(lambda x: ' '.join(x))

In [57]:
df['tags'].head()

0    in the 22nd century, a parapleg marin is dispa...
1    captain barbossa, long believ to be dead, ha c...
2    a cryptic messag from bond’ past send him on a...
3    follow the death of district attorney harvey d...
4    john carter is a war-weary, former militari ca...
Name: tags, dtype: object

We will use CountVectorizer from sklearn to convert text from column 'tags' into vector form.

In [62]:
from sklearn.feature_extraction.text import CountVectorizer

In [64]:
cv = CountVectorizer(max_features=5000, stop_words='english')
vectors = cv.fit_transform(df['tags']).toarray()

We have now converted all the movies into vector form which is a sparse metrix.

In [121]:
vectors

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])

In [65]:
cv.get_feature_names_out()

array(['000', '007', '10', ..., 'zone', 'zoo', 'zooeydeschanel'],
      dtype=object)

As Eucladian distance fails to work on high dimensional data, we will used cosine distnace (or similarity) to determine the similarites between movies.

In [66]:
from sklearn.metrics.pairwise import cosine_similarity

In [69]:
similarities = cosine_similarity(vectors)

In [70]:
#function to determine top 5 similar movies
def recommendor(movie):
    index = df[df['title'] == movie].index[0]
    
    movie_list=[]
    for i,n in enumerate(range(len(similarities[index]))):
        movie_list.append([i, similarities[index][n]])

    for i in range(1,6):
        idx = sorted(movie_list, key=lambda x:x[1], reverse=True)[i][0]
        print(df.iloc[idx]['title'])

Lets check the recommendations provide by our system.

In [78]:
df['title'].iloc[25:35]

25                       Titanic
26    Captain America: Civil War
27                    Battleship
28                Jurassic World
29                       Skyfall
30                  Spider-Man 2
31                    Iron Man 3
32           Alice in Wonderland
33         X-Men: The Last Stand
34           Monsters University
Name: title, dtype: object

In [77]:
recommendor('Jurassic World')

Jurassic Park
The Lost World: Jurassic Park
Walking With Dinosaurs
Terminator Genisys
Jurassic Park III

In [79]:
recommendor('Monsters University')

Monster House
Monsters, Inc.
Animals United
A Monster in Paris
Doug's 1st Movie

In [80]:
recommendor('Skyfall')

Spectre
Never Say Never Again
Octopussy
Quantum of Solace
Dr. No

Jurassic Park
The Lost World: Jurassic Park
Walking With Dinosaurs
Terminator Genisys
Jurassic Park III